.container
{
  width:90%;
  margin: auto;
}
.container-2
{
  flex-basis: 70%;
}
.container, .container-2
{
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block
{
  flex-basis: 0;
  height: 100px;
}
.block-2
{
  height: 50px;
}
.block:nth-child(1)
{
  background-color: mediumseagreen;
  flex-basis: 90%;
}
.block:nth-child(2)
{
  background-color: blue;
  flex-basis: 10%;
}
.block:nth-child(3)
{
  background-color: firebrick;
  flex-basis: 40%;
}
.block:nth-child(4)
{
  background-color: darkslategrey;
  flex-basis: 60%;
}
.block:nth-child(5)
{
  background-color: darkslategrey;
  flex-basis: 100%;
}
.block-2:nth-child(1)
{
  background-color: chocolate;
  flex-basis: 50%;
}
.block-2:nth-child(2)
{
  background-color: grey;
  flex-basis: 50%;
}
.block-2:nth-child(3)
{
  background-color: orange;
  flex-basis: 33%;
}
.block-2:nth-child(4)
{
  background-color: mediumaquamarine;
  flex-basis: 34%;
}
.block-2:nth-child(5)
{
  background-color: chocolate;
  flex-basis: 33%;
}
